.container {
    @include mycontainer;
    .pinkdiv {
        display: flex;
        width: 100%;
        height: 56px;
        padding: 16px 0px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 20px;
        background: #f1c5d7;
        h3 {
            color: #825065;
            font-family: "Abhaya Libre";
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}
header {
    .banner {
        background-image: url(../images/img1.png);
        background-color: white;
    .f1{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }
       
    }
    nav{
        ul{display: flex;
            flex-direction: row;
            gap: 50px;
            a{
                width: 66px;
                flex-shrink: 0;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-family: "Abhaya Libre";
                font-size: 24px;
                font-weight: 700;
                color: black;
            }
        }
    }
    p{
        color: #363030;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #000;
        font-family: "Abhaya Libre";
        font-size: 88px;
        font-weight: 700;
        width: 540px;
    }
}